<template name="LoginLayout">

    {{#if loggedIn}}
    
    <form id="addPost" class="form-group">
        <div class="col-md-6">
        <input type="text" placeholder="Text of Item" id="postText" class="form-control"></div>
        <input type="checkbox" id="isPrivate" name="check" value="true">
        <label for="isPrivate">is Private</label>
        <button class="btn btn-success" id="submit">Submit</button>
    </form>
    {{#each privatePosts}}
    <div class="col-md-6">
        <span class="badge bg-dark">{{this.post}}</span>
        
    </div>
    <button class="btn btn-danger" id="delete">Delete</button>
    {{#if isPrivate}}
    
    <button id="pubPriv" class="btn btn-warning">Make Public</button>
    {{else}}
    <button id="pubPriv" class="btn btn-warning">Make Private</button>

    {{/if}}

    {{/each}}
    {{/if}}


    {{#each publicPosts}}
    <div>
        <span class="badge bg-primary">{{this.post}}</span>
        
    </div>
    {{/each}}
</template>